* {
    margin: 0;
}
body {
    position: relative;
    background-color: #121212;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
h1, h2, h3, h4 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    font-size: 8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: #FE3800;
}
.container {
    padding-left: 7%;
    padding-right: 7%;
    height: 100%;
}
.spacer-small {
    padding-bottom: 2rem;
}
strong {
    text-decoration: none;
    color: #FE3800;
}
a {
    text-decoration: none;
    color: white;
}
/* fin global */
nav {
    display: flex;
    position: sticky;
    top: 1.5rem;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.625rem;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    z-index: 999;
    width: 19.5rem;  
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(6px);
}
nav a {
    text-decoration: none;
    color: white;
    padding: 0.438rem 0.75rem;
}
nav a:hover {
    display: flex;
    align-items: center;
    background-color: #FE3800;
    padding: 0.438px 0.75rem;
    border-radius: 0.3rem;
}
/* fin nav */
header {
    background-image: url(images/theo.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: flex-end;
    margin-top: -4.2rem;
}
.logo-theo-header {
    width: 23rem;
    transform: rotate(9.7deg) scale(4);
    position: absolute;
    top: -4rem;
    left: -5rem;
    opacity: 0; /* Initialement invisible */
    transition: transform 1s ease, opacity 1s ease;
    z-index: 990;
}
.logo-theo-header.visible {
    opacity: 1; /* Devient visible */
    transform: rotate(-14.5deg) scale(1); /* Taille normale */
}
.texte-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 2rem;
}
.position-tag {
    display: flex;
    padding-bottom: 2rem;
    gap: 0.5rem;
}
.tag {
    color: #FE3800;
    border: 1px solid #FE3800;
    border-radius: 0.3rem; 
    padding: 0rem 0.5rem;
    font-weight: 700;
}
/* fin header */
#a-propos {
    padding: 10rem 0;
}
.grid1 {
    display: grid;
    grid-template-columns: 3fr 3fr 3.5fr;
    grid-template-rows: 27rem 18rem;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem;
    gap: 1rem;
}
.grid1 > div,
.grid2 > div,
.grid1 > a {
    border-radius: 1.5rem;
}
.box-text {
    margin: 3.75rem 2.5rem;
}
.box1{
    display: block;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(images/site-projet.jpeg);
    background-size: cover;
}
.box2 {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(https://private-user-images.githubusercontent.com/190747492/393285269-5ddae347-de9a-4a2a-868d-4e9a9c41c825.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzM0OTU1MjMsIm5iZiI6MTczMzQ5NTIyMywicGF0aCI6Ii8xOTA3NDc0OTIvMzkzMjg1MjY5LTVkZGFlMzQ3LWRlOWEtNGEyYS04NjhkLTRlOWE5YzQxYzgyNS5qcGVnP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MTIwNiUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDEyMDZUMTQyNzAzWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9ZDdmNzBmNzM2NjFlNWFiYWEzNzY0MjEwNWUyNGI2ZjVmN2Y0NTAyYjZkNDlkYzllZDhhNDMxY2JhODI0ZDdlNCZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QifQ.oxzGZMAjysUQ4JXr69u_tiwLvfiMP6w0fQ-qYHN3LIA);
    background-size: cover;
    background-position: center;
}
.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #FE3800;
    color: black;
}
.block-box3 {
    display: flex;
    gap: 1.5rem;
}
.bouton-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
.linkedin-noir {
    width: 60% !important;
    height: 60% !important;
}
.bouton-contact img {
    width: 80%;
    height: 80%;
}
.box4 {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: #2a2a2a;
}
.box4 h3 {
    padding-bottom: 2rem;
}
.box4 h4 {
    padding-bottom: 1rem;
}
.box4 p {
    padding-bottom: 2rem;
}
.box5 {
    background-image: url("https://private-user-images.githubusercontent.com/190747492/393285224-1d7a76fe-5db1-4332-9e6e-8b9de3f7d5e3.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzM0OTU1MjMsIm5iZiI6MTczMzQ5NTIyMywicGF0aCI6Ii8xOTA3NDc0OTIvMzkzMjg1MjI0LTFkN2E3NmZlLTVkYjEtNDMzMi05ZTZlLThiOWRlM2Y3ZDVlMy5qcGVnP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI0MTIwNiUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNDEyMDZUMTQyNzAzWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9ZmVmMjdmZWY5ZjU2ODc1NjhmMWIxNzA1MDMxZDBmYjQ5NTNlOTFmNmU4MzU5OWNhMGNlNjRjYjk1ZDNhYTMzOCZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QifQ.C2H6Cgjvkh1BH25pij51tElA1K2iCxc4C5IbiD3hWQI");
    background-size: cover;
    background-position: center;
}
.box6 {
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6-bas {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 3.75rem;
}
.box6-bas hr {
    border: 1px solid #FE3800;
    height: 4rem;
}
.box6-image {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    overflow: hidden;
}
.box6-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box6-logo img {
    max-width: 7.5rem;
    max-height: 3rem;
}
/* fin a-propos */
#cta {
    height: 18rem;
    background-color: #FE3800;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.bouton-cta {
    text-decoration: none;
    padding: 0.438rem 0.75rem;
    background-color: white;
    color: #FE3800;
    border-radius: 0.313rem;
}
.logo-theo-cta {
    width: 25.5rem;
    transform: rotate(-14.5deg) scale(1.5); /* Taille initiale agrandie */
    position: absolute;
    right: -5rem;
    opacity: 0; /* Initialement invisible */
    transition: transform 3s ease, opacity 2s ease;
}
.logo-theo-cta.visible {
    opacity: 1; /* Devient visible */
    transform: rotate(-14.5deg) scale(1); /* Taille normale */
}
/* fin cta */
#projets {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 10rem 0;
    color: #FE3800;
}
.projet {
    display: flex;
    justify-content: center;
    position: relative;
}
.block-discution {
    width: 35rem;
    background-color: #2a2a2a;
    border-radius: 3rem;
    padding: 2rem;
}
.block-entreprise-discution {
    display: flex;
    gap: 1rem;
}
.logo-entreprise-discution {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;
}
.logo-entreprise-discution img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block-messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    padding-top: 1.5rem;
}
.block-discution .haut {
    padding-bottom: 34rem;
}
.message {
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 1rem 1rem 1rem 0rem;
}
.droite {
    align-self: end;
    border-radius: 1rem 1rem 0rem 1rem;
}
.block-messages a {
    text-decoration: underline;
    color: #FE3800;
}
.block-messages a:hover {
    text-decoration: none;
}


.slider {
    height: 32.5rem;
    width: 52rem;
    position: absolute;
    top: 20rem;
}
.slider-nav {
    position: relative;
    top: 43%;
}
.slider-content {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slider-content-item {
    min-width: 100%;
    height: 100%;
}
.slider-content-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.bouton-slider {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.bouton-slider:hover {
    transform: scale(1.15);
}
.bouton-slider svg {
    width: 4rem;
    height: 4rem;
}
.bouton-slider-prev {
    left: -6rem;
}
.bouton-slider-next {
    right: -6rem;
}
/* fin projets */
footer {
    background-color: #2a2a2a;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
footer hr {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 1px solid #FE3800;
}
.mail-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2rem;
}
.block-img-footer {
    width: 3.5rem;
    height: 3.5rem;
}
.logo-footer {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
}
.logo-theo {
    background-image: url("https://private-user-images.githubusercontent.com/190747492/393285245-21d614ba-4312-4b0b-aa63-e34e26c3fe1a.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzM0OTU1MjMsIm5iZiI6MTczMzQ5NTIyMywicGF0aCI6Ii8xOTA3NDc0OTIvMzkzMjg1MjQ1LTIxZDYxNGJhLTQzMTItNGIwYi1hYTYzLWUzNGUyNmMzZmUxYS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMjA2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTIwNlQxNDI3MDNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02M2MyNjRhN2VkZThhN2MyNjQyMzZmM2ZhYzg3NDhkZmUwYzE1MDA2MTE4NjU1MWVkMmQ5NzdkYTNkZmViN2VmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.U5tO8TxnoqXGn5xabowPwKteElweglvgOzVx11gyBtw");
    background-size: cover;
}
.logo-linkedin-blanc {
    background-image: url(images/linkedin.png);
    background-size: cover;
}
/* fin footer */


/* @media (min-width: 1200px) {
    .grid1 {
      grid-template-columns: 3fr 3fr 3.5fr;
    }
    .grid2 {
      grid-template-columns: 1fr 1fr;
    }
  }
   */
  /* Moyens écrans (tablettes) */
  /* @media (max-width: 1199px) {
    .grid1 {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .grid2 {
      grid-template-columns: 1fr;
    }
    .box1, .box2, .box3, .box4, .box5, .box6 {
      height: auto;
    }
    .texte-header h1 {
      font-size: 4rem;
    }
  } */
  
  /* Petits écrans (mobiles) */
  /* @media (max-width: 768px) {
    nav {
      flex-direction: column;
      width: auto;
    }
  
    header {
      height: auto;
      text-align: center;
      padding: 2rem;
    }
  
    .texte-header h1 {
      font-size: 3rem;
    }
  
    .grid1, .grid2 {
      display: flex;
      flex-direction: column;
    }
  
    #cta {
      height: auto;
      padding: 2rem;
    }
  
    .bouton-cta {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  } */
